# https://help.github.com/articles/dealing-with-line-endings/
# http://stackoverflow.com/questions/170961/whats-the-best-crlf-carriage-return-line-feed-handling-strategy-with-git

# all files must use unix line delimiters
* text eol=lf
