version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:10

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # audit the pacakges
      - run: npm audit
      - run: npm ls

      # security test
      - run: sudo npm --global install snyk
      - run: snyk test

      # correct line endings
      - run: sudo npm --global install lintspaces-cli
      - run: find ./*.js ./*.json ./*.md test/*.js | xargs lintspaces --endofline 'lf' --newline --trailingspaces --verbose
      - run: find test/ -name '*.css' | xargs lintspaces --endofline 'lf' --newline --trailingspaces --verbose

      # lint
      - run: sudo npm --global install eslint eslint-config-google
      - run: eslint '*.js' 'test/*.js'

      # run tests!
      - run: ./node_modules/.bin/nyc npm test

      # upload code coverage
      - run: ./node_modules/.bin/nyc report --reporter=text-lcov > coverage.lcov
      - run: ./node_modules/.bin/codecov
